---
import GlobalLayout from '../../layouts/GlobalLayout.astro';
import PageHeader from '../../components/game/PageHeader.astro';
import ArticleCard from '../../components/home/ArticleCard.astro';
import { loadArticles } from '../../data/articles';
import { usePageLocale } from '../../lib/i18n/use-page-locale';

const { locale, tr } = usePageLocale(Astro.currentLocale);
const sorted = await loadArticles(locale);
---

<GlobalLayout title={tr('articles.title')} description={tr('articles.meta')}>
  <PageHeader
    badge={tr('articles.badge')}
    title={tr('articles.title')}
    description={tr('articles.description')}
  />

  <div class="page-container-below-header">
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {sorted.map((article) => <ArticleCard article={article} />)}
    </div>
  </div>
</GlobalLayout>
