---
import LanguageSwitcher from './LanguageSwitcher.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<div class="locale-toolbar flex items-center gap-2">
  <LanguageSwitcher />
  <ThemeToggle />
</div>
